@import url('https://fonts.googleapis.com/css?family=Gothic A1');
@import url('https://fonts.googleapis.com/css?family=PT Sans');
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
    border-color: #913175;
}

nav{
    overflow: hidden;
    width: 94%;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 8vh;
    justify-content: space-around;   
    background-color: #262626; 
    border-radius: 10px;
    margin: auto;
}

a{
    text-decoration: none;
}
h1{
    color:#E9E8E8;
}
a:hover{
    color:orange; 
}
body {   
    height: 100%;
    background: url("./imgs/second.jpg") no-repeat center;
    background-size:cover;
    font-family: sans-serif;
}

#about{
    height: 80%;
    width: 94%;
    position:relative;
    top: 3%;
    background-color: rgb(38, 38, 38,0.9);
    border-radius: 10px;
    margin: auto;
}
p{
    color: white;
    font-family: Gothic A1;
}

input{
    border-style: solid; 
    font-size: 120%;
    color: black;
}

#content{
    border-radius: 2%;
    border-style: solid;
    height: 84%;
    width: 62%;
    position:relative;
    background-color: rgb(38, 38, 38,0.7);
    float: left;
    margin-top: 3%;
    margin-left: 2%;
}
#contentlogo{
}
#contentlogo > img{
    width: 45%;
    float: left;
}
#contentlogo> h1{
    font-size: 100px;
    font-family: PT Sans;
    margin-top: 8%;
}

.login{
    border-style: solid;
    border-radius: 2%;
    height: 84%;
    width: 32%;
    float: right;
    margin-top: 3%;
    margin-right: 2%;
}

.usernamediv{
    text-align: center;
    border-style: solid;
}
.passworddiv{
    text-align: center;
    border-style: solid;
}
#loginUsername{
    font-weight: 100;
    border-style: solid;
}
.passworddiv > input{
    width: 100%;
}
.loginButton{
    width: 80%;
    height: 26%;
    color:black;  
    position: relative;
    left: 10%;
}
